
design-strategies/week1_jitter.maxpat
design-strategies/2b4_optical_flow.maxpat
design-strategies/2b2_presence_bgsub.maxpat
design-strategies/1b1_continuous_transduction.maxpat
design-strategies/1a1_video_threshold_simple_synth.maxpat
design-strategies/week1_jitter.maxpat
design-strategies/2b2_presence_bgsub.maxpat
design-strategies/1b1_continuous_transduction.maxpat
design-strategies/1a1_video_threshold_simple_synth.maxpat
design-strategies/week1_jitter.maxpat
design-strategies/2b2_presence_bgsub.maxpat
design-strategies/1b1_continuous_transduction.maxpat
design-strategies/1a1_video_threshold_simple_synth.maxpat
